<!DOCTYPE html>
<html lang="en">
<head>
    <style media="screen" type="text/css">
        ul li {
            display: inline;
        }
    </style>
    <title>Tender Details</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body onload="loadCities()">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <div class="container" ng-app="app" ng-controller="myCtrl">
        <!-- <select ng-model="selectedName" ng-options="x for x in names"></select> -->
        
        <h2 align="center">Know Your Tender</h2>

        <br />

        <form name="form1" class="form-inline text-center" role="form">
            <label>
                CITY:&nbsp   <select name="city" class="form-control mb-2 mr-sm-2" id="city" ng-model="cityname" onchange="loadAreas()">

                    <option disabled selected value>select city</option>

                </select>
            </label>

            <label>
                AREA:&nbsp   <select name="area" class="form-control mb-2 mr-sm-2" id="area" ng-model="areaname">

                    <option disabled selected value>select area</option>

                </select>
            </label>

            <label>
                TENDER TYPE:&nbsp   <select name="ttype" class="form-control mb-2 mr-sm-2" id="ttype" ng-model="tendertype">

                    <option disabled selected value>select tender type</option>

                    <option>Road Tender</option>

                    <option>Construction Tender</option>

                </select>
            </label>

            <button type="button" class="btn btn-primary mb-2" ng-click="SendData()">Submit</button>

        </form>

        <!--  <p>CITY: <input type="text" ng-model="cityname" required /></p>
          <p>AREA: <input type="text" ng-model="areaname" required /></p>
          <p>TENDER TYPE: <input type="text"  ng-model="tendertype" required /></p>
          <button ng-click="SendData()">Submit</button> -->
        <br /><br />


        <h4 ng-repeat="tender in PostDataResponse">
            <div class="card">

                <div class="card-body">

                    <h4 class="card-title">{{tender.name}}</h4>

                    <p class="card-text"><h6>Small snippet or date</h6></p>

                    <h6 ng-repeat="link in tender.Links">

                        <a href={{link}} class="card-link">Link{{$index + 1}}</a>

                    </h6>

                </div>

            </div>

    </div>



    <script>
        function loadCities() {            
            var url = "cities.json";
            var y = document.getElementById("city");
            $.getJSON(url, function (json) {
                for (var i = 0; i < json.length; i++) {
                    var option = document.createElement("option");
                    option.text = json[i].city;
                    y.add(option);
                }
            });
        }

        function loadAreas() {
            var x = document.getElementById("area");
            var y = document.getElementById("city");
            while (x.length > 1) {
                x.remove(1);
            }
            var url = "areas.json";
            $.getJSON(url, function (json) {
                for (var i = 0; i < json.length; i++) {
                    if (json[i].city == y.value) {
                        var option = document.createElement("option");
                        option.text = json[i].area;
                        x.add(option);
                    }
                }
            });
        }

        var app = angular.module("app",[]);
        app.controller("myCtrl", function($scope,$http){
		$scope.names = ["Emil", "Tobias", "Linus"];
        $scope.SendData = function() {

            var data = {
                   cName : $scope.cityname,
				  aName : $scope.areaname,
				  tName : $scope.tendertype
                }
            $http.post('/post', data)
                .success(function (data, status, headers, config) {
                    $scope.PostDataResponse = data;
					/*var m=data.map(JSON.stringify);
					for (var i=0;i<m.length;i++) {
			              var mj=JSON.parse(m[i]);
							alert(mj.name);
							for(var j=0;j<mj.Links.length;j++)
							   alert(mj.Links[j]);
						}*/
                })
                .error(function(data, status, header, config){
                    $scope.PostDataResponse = "Data: " + status;

                });
        };
        });
    </script>
</body>
